@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 54px;
  background-color: #1527a9;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 10;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navBar ul {
  display: flex;
}

.navBar ul li {
  list-style: none;
  margin-inline: 1rem;
  cursor: pointer;
}

.navBar ul li:hover{
  font-size: large;
  text-decoration: underline;
}

.main-nav-model{
  top: 4.2rem;
  left: 2.0rem;
  position: absolute;
  width: 21.5rem;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.nav-model{
  display: flex;
  flex-direction: column;
  width: 20rem;
  float: left;
  background-color: black;
  border-radius: 7px;
  color: white;
}

.nav-Item{
  display: flex;
  margin-left: 1rem;
  margin-bottom: 1.0rem;
  cursor: pointer;
}

.nav-Item:hover{
  background-color: rgb(20, 21, 21);
  font-size: large;
}

.loader {
  display: none;
  width: 48px;
  height: 48px;
  border: 10px solid #FFF;
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  transform: rotate(45deg);
  box-sizing: border-box;
  top: 40%;
  right: 50%;
}

.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #1c1a1a;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

.loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  /* Slight transparency for effect */
  z-index: 8;
  /* Ensure it appears above other content */
  align-items: center;
  justify-content: center;
}

.avatar {
  background-color: rgb(245, 203, 98);
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.avatarPopOver {
  display: flex;
  flex-direction: column;
  width: 7rem;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  justify-content: center;
  position: fixed;
  top: 3.6rem;
  right: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.avatarPopOver .items {
  display: flex;
  text-align: center;
  font-weight: 600;
  margin-left: 6px;
  margin-block: 6px;
  cursor: pointer;
}

.avatarPopOver .items:hover{
  font-size: large;
  font-weight: 700;
}

.top-0 {
  top: 54px !important;
}

.z-3 {
  z-index: 100 !important;
}